@use "./variables" as *;

body {
  font-family: $font-main;
  color: $dark;
  background: $white;
}

h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 45px;
    font-weight: 700;
}

p{
    font-size: 30px;
    font-weight: 500;
}