$blue: #2167ea;
$blue-soft: #dae8fd;
$dark: #2b2b2b;
$gray: #777;
$white: #fff;

$radius: 32px;
$radius-m: 25px;
$radius-sm: 18px;


$shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

$font-main: system-ui, sans-serif;

$padding-xl: 32px;
$padding-l: 24px;
$padding-m: 16px;
$padding-s: 8px;